@import url("https://fonts.googleapis.com/css?family=Boogaloo");
.navbar {
  border-radius: 0px;
  margin-bottom: 0px; }

.navbar-nav li a {
  padding-top: 10px;
  padding-bottom: 0px; }
  .navbar-nav li a .contact-text {
    padding-left: 24px; }
  .navbar-nav li a .fa-text {
    color: #3b5998; }
    .navbar-nav li a .fa-text:hover {
      color: #8b9dc3; }

.navbar-nav li .fa {
  font-size: 2em; }

.navbar-nav li .color-facebook {
  color: #3b5998; }
  .navbar-nav li .color-facebook:hover {
    color: #8b9dc3; }

.jumbotron {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #92D050; }
  .jumbotron h1 {
    font-family: 'Boogaloo', cursive;
    font-size: 4em;
    text-shadow: 3px 2px 0px white; }
  .jumbotron span.byline {
    font-size: 1.3em; }
  .jumbotron .logo {
    max-height: 250px; }

#interests li.list-group-item {
  margin: 10px; }

#interests span.interest-pos {
  margin-right: 20px;
  border-right: 1px solid #dddddd;
  display: inline-block;
  height: 25px;
  padding-right: 20px; }

form fieldset {
  margin-top: 35px; }

.container .block {
  height: 100%;
  min-height: 300px; }
  .container .block h2 {
    padding: 20px;
    color: white;
    text-align: center;
    text-shadow: 3px 3px 5px #313131;
    border-radius: 20px;
    border: 1px solid black; }
  .container .block p {
    padding: 15px;
    font-size: 1.1em; }

.container .what-block h2 {
  background-color: #3090C7; }

.container .who-block h2 {
  background-color: #92D050; }

.container .how-block h2 {
  background-color: #3090C7; }

.container ul.event-list {
  margin: 0px;
  padding: 0px 10px; }
  .container ul.event-list > li.event-list-item {
    list-style-type: none;
    padding: 10px;
    font-size: 1.1em; }

.form-control-feedback {
  right: 10px; }

#form-errors {
  display: none; }

li.ui-sortable-handle {
  cursor: move; }

li.input-lg {
  height: auto; }

.small, small {
  color: #a0a0a0;
  margin-left: 10px; }

.slick-prev:before, .slick-next:before {
  color: #929292; }

.sponsors {
  text-align: center;
  padding: 20px 0px; }
  .sponsors img {
    height: 75px;
    margin: 0px 20px; }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none; }
